#logo {
    width: 64px;
    height: 80px;
    background-image: url($image-url+'logo-back-black.png');
    background-repeat: no-repeat;
    position: fixed;
    right: 30px;
    bottom: 25px;
    transition: all $speed-xxx ease;
}
