#nav {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 64px;
    width: 100%;
    background-color: $nav-bg-color;

    .icon {
        height: inherit;
        width: 25%;
        background-size: auto 40px;
        background-position: center center;
        background-repeat: no-repeat;
        float: left;
        cursor: pointer;

        &:hover {
            background-color: $nav-hv-color;
        }
    }

    .icon-fun {
        background-image: url('../img/fun.png');
    }

    .icon-chat {
        background-image: url('../img/chat.png');
    }

    .icon-collect {
        background-image: url('../img/collect.png');
    }

    .icon-user {
        background-image: url('../img/user.png');
    }
}
