$shadow-black:rgba(0, 0, 0, 0.38);
$shadow-white:rgba(255, 255, 255, 0.38);

$bg-color:rgb(207, 207, 207);

$nav-bg-color:rgb(103, 127, 149);
$nav-hv-color:rgb(72, 92, 111);

$font-color: rgb(0, 0, 0);
$font-color-link: rgb(231, 118, 0);
$font-color-linkHover: rgb(231, 152, 0);
$font-color-info: rgb(0, 140, 255);
$font-color-infoDanger: rgb(255, 0, 0);
