$background-color:rgb(144, 111, 111);

$font-color: rgb(0, 0, 0);
$font-color-link: rgb(231, 118, 0);
$font-color-linkHover: rgb(231, 152, 0);
$font-color-info: rgb(0, 140, 255);
$font-color-infoDanger: rgb(255, 0, 0);
