// color secret can not tell
$bg-color:#fff;
$nav-background-color:#003c5a;

$link-color: #ff5350;
$link-color-hover: #54cdd8;
$link-color-background: #ff5350;
$link-color-danger: rgb(255, 40, 40);

// // color angry fire
// $bg-color:#373737;
// $nav-background-color:#d10025;
//
// $link-color: #f4ac30;
// $link-color-hover: #ede129;
// $link-color-background: #9a0523;
// $link-color-danger: rgb(255, 40, 40);

$font-color: rgb(255, 255, 255);
$font-color-dark: rgb(0, 0, 0);

$none-color: rgba(255, 255, 255,0);

$shadow-black: rgba(0, 0, 0, 0.38);
$shadow-blue: rgba(62, 124, 254, 0.38);;
$shadow-white: rgba(255, 255, 255, 0.38);

// img route
$image-url:'../img/';
// size
$nav-width: 80px;
$nav-btn-height:65px;

// animation
$speed-x: 0.2s;
$speed-xx: 0.4s;
$speed-xxx: 0.6s;
$speed-xxxx: 0.8s;
$speed-xxxxx: 1s;
