@import url('./var.scss');
@import url('./nav/nav.css');


$color-1: rgb(207, 9, 9);
$color-2: rgb(0, 255, 18);
$color-3: rgb(179, 49, 177);

body{
    background-color: $color-1;
}

div{
    width:140px;
    padding: 30px;
}
