@import './component/var.scss'; // scss import
@import './component/keyframe.scss'; // scss import
@import './component/logo.scss';
@import './component/nav.scss';
@import './component/layout.scss';

body,
html {
    min-height: 768px;
    background-color: $bg-color;
    margin: 0;
}
body {
    padding-top: 1px;
    padding-bottom: 1px;
    // background-size: cover;
    // background-attachment: fixed;
    // background-blend-mode: multiply;
    // background-image: url($image-url + 'background2.jpg');
    // background-repeat: no-repeat;
}

a {
    text-decoration: none;

    &:link {
        color: $link-color;
    }

    &:visited {
        color: $link-color;
    }

    &:hover {
        color: $link-color-hover;
    }

    &:active {
        color: $link-color-hover;
    }
}

dl,
li,
ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
