@import './component/var.scss'; // scss import
@import './component/keyframe.scss'; // scss import
@import './component/logo.scss';
@import './component/nav.scss';
@import './component/layout.scss';

body,
html {
    min-height: 768px;
    background-color: $bg-color;
    margin: 0;
    font: 12px arial,'宋体';
}

body {
    padding-top: 1px;
    padding-bottom: 1px;
}

a {
    text-decoration: none;

    &:link {
        color: $link-color;
    }

    &:visited {
        color: $link-color;
    }

    &:hover {
        color: $link-color-hover;
    }

    &:active {
        color: $link-color-hover;
    }
}

dl,
li,
ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
