@import './component/var.scss'; // scss import

body,
html {
    background: $bg-color;
    margin: 0;
    padding: 0;
}

/**
 * nav part
 */
@import './component/nav.scss';
@import './component/post.scss';
